<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::title},~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Edit Employee</title>
</head>

<body>
	<section>
		<div class="container p-4">
			<div class="row">
				<div class="col-md-6 offset-3">
					<div class="card">
						<div class="card-header">
							<h3 class="text-center">Edit Employee </h3>
						</div>
						
						
						<div class="card-body">

							<form action="/updateEmp" method="post">
								
								<input type="hidden" name="id" th:value="${emp.id}">

								<div class="mb-3">
									<label class="form-label">Employee Name</label>
									<input type="text" class="form-control" name="name" th:value="${emp.name}">
								</div>

								<div class="mb-3">
									<label class="form-label">Employee Mobile Number</label>
									<input type="number" class="form-control" name="phno" th:value="${emp.phno}">
								</div>

								<div class="mb-3">
									<label class="form-label">Email address</label>
									<input type="email" class="form-control" name="email" th:value="${emp.email}">
								</div>
								

								<div class="mb-3">
									<label class="form-label">Department</label>
									<input type="text" class="form-control" name="department" th:value="${emp.department}">
								</div>


								<button type="submit" class="btn btn-primary col-md-12">Update</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>